:root {
  --bgr-color: #131313;
  --text-color: #ffffff;
  --active-text-color: #dcc0e8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

html,
body {
  background-color: var(--bgr-color);
  color: var(--text-color);
}
