/*Using CSS variables*/

:root {
  --bgr-color: #131313;
  --text-color: #ffffff;
  --active-text-color: #9aeba3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

html,
body {
  background-color: var(--bgr-color);
  color: var(--text-color);
  /* width: 100%;
  height: 100vh; */
}

.header {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 25%;
  padding: 20px;
}

/*the heading has a span*/
.heading {
  line-height: 70px;
  position: absolute;
  bottom: 20px;
  overflow: hidden;
  transform: rotate(5deg);
  transition: 0.5s;
}

/*the heading that is tilted 5degrees is not shown because of overflow hidden */
.heading h1 {
  font-weight: 400;
  font-size: 70px;

  transform: translateY(100%) rotate(5deg);
  transition: 0.5s;
}

/*twill apply show class with JS*/
.heading.show {
  transform: rotate(0deg);
}

.heading.show h1 {
  transform: translateY(0%) rotate(0deg);
}

h2 {
  letter-spacing: 1px;
  font-size: 18px;
  text-transform: uppercase;
}

h5 {
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

/*if we color span we see that it's the numbers*/
span {
  font-size: 10px;
}

/*Styling of the grid Section*/
.grid {
  position: absolute;
  top: 25%;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1s;
}

.row {
  display: flex;
  height: 50%;
  transition: 0.3s;
}

/* To DO: look into will-change */
.grid-item {
  position: relative;
  height: 100%;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  cursor: pointer;
  transition: 0.3s;
  flex: 1;
  will-change: flex;
  display: flex;
  padding: 10px;
  overflow: hidden;
}

.active {
  flex: 4;
}

.expand {
  flex: 4;
}

.end {
  border-right: none;
}

.grid-item > div {
  position: relative;
  pointer-events: none;
}

.title {
  flex: 2;
  overflow: hidden;
}

.img-wrap {
  flex: 0;
  transition: 0.3s;
  overflow: hidden;
}

.grid-item.active > .title {
  flex: 2;
}

.grid-item.active > .img-wrap {
  flex: 6;
}

/*image CSS*/
.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.5);
  opacity: 0;
}

.grid-item.active > .img-wrap > .img {
  transform: scale(1);
  filter: blur(0px);
  transition: 0.9s;
  opacity: 1;
  transition: 1s;
}
